
.content_about{ width:94%; float:left; height:180px; text-align:center; padding:50px 3% 0; background:#fff;}
.content_about img{ width:100px; height:100px;}
.content_about span{ display:block; text-align:center; line-height:22px; color:#ccc;}
.about{width:94%; float:left; height: auto;padding:0 3%; background:#fff; line-height:24px;}