html,body{-webkit-text-size-adjust:none; background:#f0f0f0}
*{margin:0; padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;font-size:12px;color:#666;font-weight:normal;font-family:Verdana,"微软雅黑";}
form,ul,li,dl,dd,dt,input,h1,h2,h3,p,h4,h5,h6{margin:0;padding:0;}
input,select{font-size:12px;line-height:20px;}
img{border:0;vertical-align:top;}
fieldset,img{border:0;}
iframe{display:block}
ul,li,ol{list-style-type:none;}
textarea{-webkit-appearance:none;border-radius:0;}
.none{ display:none}
em,i{font-style:normal}
a{color:#666;text-decoration:none;cursor:pointer}
a:hover{color:#00a1e9;text-decoration:none;cursor:pointer}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
.docBody{margin:0 auto; clear:both; width:100%;}

.headerKong{float:left; width:100%; height:50px;}


.main_home{float:left; width:100%;height:50px;background:#393a3e;position:fixed;top:0;right:0;z-index:999;overflow:hidden; text-align:center;font:16px/50px "微软雅黑"; color:#fff;}
.main_header{ float:left; width:100%;height:50px;background:#393a3e;position:fixed;top:0;right:0;z-index:999;overflow:hidden;}
.main_header h1{position:relative;z-index:99;font:16px/50px "微软雅黑"; overflow:hidden; color:#333; text-align:left; margin:0 40px; color:#FFF}
.main_header h1 em img{margin:10px 20px 0 10px; width:2px; height:31px;}
.main_header .goBack{position:absolute;top:0;left:0;z-index:999; width:30px; text-align:right; padding-top:15px;}
.main_header .goBack img{ width:11px; height:20px;}

.main_header .goList{position:absolute;top:0;right:0;z-index:999; width:40px;padding-top:13px; text-align:center;}
.main_header .goList img{ width:5px; height:24px;} 


.nav{float:left; width:100%;background:#fff; position:fixed; bottom:0; z-index:2;overflow:hidden;height:50px; border-top:1px solid #ccc;;}
.nav li{ float:left; width:20%;text-align:center;padding-top:5px;}
.nav li a{ color:#000;display:block;}
.nav li a:hover{ color:#000;display:block;background:#333;}
.nav li a.StyleBlue{color:#f34e39;}
.nav li span{float:left; display:block; width:100%; font-size:11px;}
.nav .tupian{ float:left; display:block; width:100%;}
.nav .tupian img{ width:28px; height:28px; margin-bottom:2px;}





