

body{background-color: #fff;}
.helpcontent{width:1220px; margin:10px auto;}
.helpleft{ width:160px; float:left; border:1px solid #dbdbdb;height:auto!important;height:194px; min-height:194px;}
.helpleft h2{ height:48px; background:#5e5e5e; font-size:16px; color:#fff; line-height:48px; text-align:center;}
.helpleft li{border-bottom:1px solid #dbdbdb;height:39px;line-height:39px; margin-bottom:-1px;}
.helpleft li a{ color:#333; font-size:14px;display:block;text-align:center;}
.helpleft li a:hover{ background:#e4e4e4; display:block;color:#333;}

.helpleft li a.current{ color:#333; font-size:14px;display:block;text-align:center;background:#e4e4e4;}
.helpleft li a.current:hover{ color:#333; display:block;}

.helpright{ width:1040px; float:right;border:1px solid #dbdbdb;height:auto!important;height:368px; min-height:368px;}
.helpright p{ padding:20px; line-height:26px; font-size:14px;}