
body{ background:#fff;}
.nav-banner{
	width: 610px;
	height:310px;
	display: inline-block; float:left;
}
.nav-banner img{
	width: 100%;
}

/* banner */
.banner{height:260px;overflow:hidden;}
.banner .d1{width:100%;height:260px;display:block;position:absolute;left:0px;}
.banner .d2{width:100%;height:30px;clear:both;position:absolute;z-index:100;left:0px;top:316px;}
.banner .d2 ul{float:left;position:absolute;left:55%;top:0;margin:0 0 0 -96px;display:inline;}
.banner .d2 li{width:17px;height:17px;overflow:hidden;cursor:pointer;background:url(../img/img1.png) no-repeat center;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw{background:url(../img/img1_1.png) no-repeat center;}